.jumbotron {
  padding-top: 6rem;
  background-image: url("img/hero.jpg");
}

#profil {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#project {
  background-color: #406099;
}

section {
  padding-top: 5rem;
}
